header{
    padding-block: 32px;
    font: var(--text-md);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#profile {
    display: flex;
    gap: 32px;
}

#profile > div {
    max-width: 384px;
}

#profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--primary-color);
    margin-bottom: 8px;
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media(width < 80em){
    
    header .container,
    header #profile{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}